@model IEnumerable<kJaroska.Models.Employee>

@foreach (var employee in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => employee.FirstName) @Html.DisplayFor(modelItem => employee.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => employee.HireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => employee.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => employee.Grade)            
        </td>
        <td>
            @Html.DisplayFor(modelItem => employee.Manager.FirstName) @Html.DisplayFor(modelItem => employee.Manager.LastName)
        </td>
    </tr>   
}
